<div class="h-screen relative">

    <app-landing-header [profile]="profile$"></app-landing-header>

    <div class="container flex flex-col md:flex-row h-full mx-auto items-center justify-center z-10 px-5">
        <div class="md:w-1/2">

            <img width="w-full" src="/assets/vectors/hello.svg" alt="">
        </div>

        <div class="md:w-1/2 text-center md:text-left">
            <h1 class="text-6xl">Hello. I'm Anderson</h1>
            <p>A mobile software engineer.</p>
            <button>
                <a href="#about" class="bg-green-300 block text-black py-3 px-5 rounded-xl my-5">Get to know me</a>
            </button>
        </div>
    </div>

    <div class="absolute -bottom-[30px] left-0 right-0 -z-1">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
            <path fill="#48de80" fill-opacity="1"
                d="M0,192L24,202.7C48,213,96,235,144,218.7C192,203,240,149,288,154.7C336,160,384,224,432,218.7C480,213,528,139,576,117.3C624,96,672,128,720,122.7C768,117,816,75,864,74.7C912,75,960,117,1008,117.3C1056,117,1104,75,1152,64C1200,53,1248,75,1296,90.7C1344,107,1392,117,1416,122.7L1440,128L1440,320L1416,320C1392,320,1344,320,1296,320C1248,320,1200,320,1152,320C1104,320,1056,320,1008,320C960,320,912,320,864,320C816,320,768,320,720,320C672,320,624,320,576,320C528,320,480,320,432,320C384,320,336,320,288,320C240,320,192,320,144,320C96,320,48,320,24,320L0,320Z">
            </path>
        </svg>
    </div>

</div>

<div class="min-h-screen bg-green-400 text-zinc-900" id="about">

    <h1 class="text-6xl text-center py-8 pt-40 font-bold">Get to know me</h1>

    <div class="pb-10">
        <div class="md:w-4/6 max-w-[600px] mx-auto px-8 md:px-0">
            <div class="text-2xl pb-4 font-bold">Basically,</div>
            <ol class="list-decimal px-4">
                <li class="my-2">I started working as a full-stack software developer, but when I really, really got
                    into programming I was like <span class="text-lg font-bold">15</span>, messing around with a 3D
                    rendering software called Blender.</li>

                <li class="my-2">On Blender, it was possible to program using Python, that's when I discovered my
                    passion was programming, not 3D rendering.</li>

                <li class="my-2">After I graduated high school, I started my graduation and on my 2nd year I got my
                    first internship.</li>

                <li class="my-2">Then I got a full-time job (since the place was very flexible, I managed to work
                    and
                    study)</li>

                <li class="my-2">Discovered my love for mobile engineering</li>

                <li class="my-2">Got a mobile engineering job</li>
            </ol>

            <div class="text-3xl pt-4 font-bold">The rest is history.</div>
        </div>
    </div>

</div>

<div class="min-h-screen pb-40" id="projects">

    <h1 class="text-6xl text-center pb-8 pt-40 font-bold">Open Source Projects</h1>

    <button (click)="nextProject()" class="rounded-full w-12 h-12 m-auto block text-3xl bg-white text-black"><i class="mdi mdi-chevron-right"></i></button>

    <div class="h-[600px] relative">
        <div class="hidden md:block pointer-events-none bg-gradient-to-r from-zinc-900 to-zinc-900 via-transparent w-full h-full opacity-50 absolute z-10"></div>
        <div class="absolute transition-all duration-500 h-full overflow-hidden flex-nowrap flex items-center py-4" [ngStyle]="{
            'margin-left': (projectMargin$ | async) + 'px'
        }">
            <div class="h-full flex-shrink-0 whitespace-nowrap overflow-x-auto" [id]="'proj--' + project.id"
                *ngFor="let project of projects$ | async">
                <div [ngSwitch]="project.projectType" class="h-full whitespace-normal px-2">
                    <article *ngSwitchCase="projectTypes.mobile"
                        class="group relative h-full box-border rounded-3xl overflow-hidden bg-zinc-700 border-y-[30px] border-x-8 border-zinc-700 drop-shadow-xl">
                        <a [href]="project.link" target="_blank">
                            <div [ngSwitch]="project.mediaType" class="relative rounded h-full">
                                <img *ngSwitchCase="mediaTypes.image" [src]="project.media" class="object-cover h-full">
                                <video *ngSwitchCase="mediaTypes.video" [src]="project.media" class="object-cover h-full"
                                    autoplay loop muted></video>
                                <div
                                    class="opacity-0 group-active:opacity-100 md:group-hover:opacity-100 transition-all ease-in duration-200 absolute w-full h-full bg-zinc-700 bg-opacity-80 top-0 left-0 right-0 bottom-0">
                                </div>
                                <div
                                    class="opacity-0 group-active:opacity-100 md:group-hover:opacity-100 -bottom-[100px] group-hover:bottom-0 transition-all ease-in duration-600 pointer-events-none absolute left-0 right-0 p-8">
                                    <p class="text-xs">{{project.technology}}</p>
                                    <h1 class="text-xs font-bold">{{project.appName}}</h1>
                                    <p>{{project.description}}</p>
                                </div>
                            </div>
                        </a>
                    </article>
    
                </div>
            </div>
        </div>
    
    </div>


</div>

<div class="overflow-hidden min-h-screen bg-gray-300 text-zinc-700 flex items-center justify-center relative"
    id="contact">

    <div
        class="h-full aspect-1 absolute rotate-45 bottom-[55%] rounded-3xl z-0 bg-gray-100 opacity-30 pointer-events-none">
    </div>

    <div class="text-center z-10" *ngIf="profile$ | async let me">
        <h2>You can reach me at</h2>
        <h3 class="text-xl md:text-6xl font-bold profile-email"><a [href]="'mailto:' + me.email">{{me.email}}</a></h3>
        <h2>or</h2>
        <div class="text-3xl">
            <a *ngFor="let social of me.social" [href]="social.url" [target]="social.target">
                <i class="mdi" [ngClass]="social.icon" [ngStyle]="{color: social.color}"></i>
            </a>
        </div>
    </div>

    <div class="absolute text-center bottom-0 text-black p-4">
        Copyright &copy; {{date$ | async | date:'yyyy'}}. All rights reserved
    </div>
</div>