<div
    class="bg-clip-padding bg-opacity-95 drop-shadow-xl fixed w-full top-0 border-b border-b-zinc-700 z-20">
    <div class="bg-black bg-opacity-60">

        <header class="container mx-auto px-5 py-5 flex items-center justify-between">

            <div class="w-12 h-12 flex-shrink-0">
                <img *ngIf="profile | async let me else profileLoading" class="rounded-full w-full h-full"
                    [src]="me.avatar" alt="Selfie of a handsome man">

                <ng-template #profileLoading>
                    <div class="w-full h-full rounded-full bg-gray-100"></div>
                </ng-template>
            </div>

            <ul class="items-center w-full justify-end px-3 text-lg hidden md:flex">
                <li class="px-4"><a href="#">Home</a></li>
                <li class="px-4"><a href="#about">About</a></li>
                <li class="px-4"><a href="#projects">Projects</a></li>
            </ul>

            <button>
                <a href="#contact" class="bg-green-300 text-black px-5 py-3 rounded-xl block">Contact</a>
            </button>
        </header>
    </div>
</div>